*~
*.o
*.a
.libs
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
compile
test-driver
*.lo
*.la
stamp-h1
*.pyc
*.pc
/jansson_private_config.h.in
/jansson_private_config.h
/build
*.exe

obj/
Release/
Debug/
*.*sdf
*.suo
